# General
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
instance/
.DS_Store

# Virtual Environments
venv/
.env
*.env
.venv/
.venv314/
ENV/
.python-version

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
*.py[cod]

# Mypy
.mypy_cache/
*.mypy_cache/
.mypy_cache/*


/staticfiles/*
